.Messages .message {
  display: flex;
  flex-direction: column;
  padding: 16px 10px;
  background-color: #fff2ee;
  border-radius: 6px;
  border: 1px solid lightgray;
  width: 99.5%;
  margin: 2px auto;
  box-sizing: border-box;
  opacity: 0;
}


.Messages .message h4 {
  font-size: 1.2rem;
}

.Messages .message h4,
.Messages .message p {
  margin: 0;
  color: black;
}

.Messages .message p {
  margin-left: 4px;
  margin-top: 4px;
}
.StartNewChat .FriendsList {
  margin: 2px;
}

.StartNewChat .SearchFriendForm {
  opacity: 0;
}

.StartNewChat .FriendsList .user-in-list {
  opacity: 0;
}

@media screen and (max-width: 1500px) {
  .Messages .messages-header {
    width: 100%;
  }
  .Messages .message {
    padding: 10px 8px;
    width: 99.5%;
    margin: 2px 0;
  }

  .Messages .messages-header h2 {
    font-size: 1.2rem;
  }

  .Messages .message h4 {
    font-size: 1.1rem;
  }
  .Messages .message p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .Messages .messages-header h2 {
    font-size: 1.1rem;
  }
  .Messages .messages-header img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 500px) {
  .Messages .message {
    width: 99%;
    margin: 2px auto;
  }
}
