.Messages .message {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff2ee;
  border-radius: 6px;
  margin-bottom: 2px;
  border: 1px solid lightgray;
}

.Messages .message h4 {
  font-size: 1.2rem;
}

.Messages .message h4,
.Messages .message p {
  margin: 0;
  color: black;
}

.Messages .message p {
  margin-left: 4px;
  margin-top: 4px;
}
