.PrivateMessageCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /* position: absolute; */
  /* top:0; */
  /* right: 0; */
  /* width: 70%; */
}

.PrivateMessageCard .friend-info {
  background-color: rgb(255, 242, 223);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  height: 110px;
  position: absolute;
  top: 0;
  padding: 10px;
  /* /* overflow: hidden; */
  width: 80%;
}

.PrivateMessageCard .friend-info img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.PrivateMessageCard .friend-info h3 {
  margin: 0;
  color: black;
}

.PrivateMessageCard .messages-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 99%;
  box-sizing: border-box;
  overflow-y: scroll;
  /* height: auto; */
}

.PrivateMessageCard .messages-section .date-para {
  text-align: center;
  color: gray;
}

.PrivateMessageCard .messages-section .msg-private-img-text {
  display: flex;
  height: auto;
  display: flex;
  align-items: flex-end;
  width: 100%;
  /* width: auto; */
  padding: 4px;
  box-sizing: border-box;
}

.PrivateMessageCard .messages-section .msg-private-img-text img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
}

.PrivateMessageCard .messages-section .msg-private-img-text .text-div {
  margin: 0;
  background-color: rgb(231, 231, 231);
  padding: 12px 34px;
}

.PrivateMessageCard .messages-section .msg-private-img-text .text-div p {
  margin: 0;
  white-space: pre-wrap;
}

.PrivateMessageCard .messages-section .right-side-text {
  flex-direction: row-reverse;
}

.PrivateMessageCard .messages-section .left-side-text {
  justify-content: flex-start;
}

.PrivateMessageCard .messages-section .right-side-text .text-div {
  border-radius: 10px 50px 0px 50px;
  background-color: rgb(252, 237, 221);
}

.PrivateMessageCard .messages-section .right-side-text img {
  margin-left: 10px;
}

.PrivateMessageCard .messages-section .left-side-text img {
  margin-right: 10px;
}

.PrivateMessageCard .messages-section .left-side-text .text-div {
  border-radius: 50px 10px 50px 0px;
  background-color: rgb(222, 238, 222);
}

@media screen and (max-width: 1600px) {
  .PrivateMessageCard .friend-info {
    /* width: 82%; */
  }

  .PrivateMessageCard .friend-info img {
    width: 60px;
    height: 60px;
  }
  .PrivateMessageCard .friend-info h3 {
    font-size: 1rem;
    padding-top: 6px;
  }

  .PrivateMessageCard .messages-section .msg-private-img-text .text-div p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .PrivateMessageCard .friend-info {
    height: 90px;
  }
  .PrivateMessageCard .friend-info img {
    width: 50px;
    height: 50px;
  }

  .PrivateMessageCard .friend-info h3 {
    font-size: 0.9rem;
  }

  .PrivateMessageCard .messages-section .msg-private-img-text img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .PrivateMessageCard .friend-info {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .PrivateMessageCard .friend-info {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .PrivateMessageCard .friend-info {
    width: 100%;
  }
}
