.friend-request-component-div .FriendsRequests-div .friend-request-header {
  margin-bottom: 2px;
  
}

.FriendsRequests-div {
  width: 99.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.FriendsRequests {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Friends-Requests-list{
    width: 100%;
}

.FriendsRequests-div .FriendsRequests .request-user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  margin: 2px;
  padding: 16px;
  background-color: lightblue;
  border-radius: 10px;

  box-sizing: border-box;
}

.FriendsRequests-div
  .FriendsRequests
  .request-user-card
  .request-user-img-name-div {
  display: flex;
}

.FriendsRequests-div
  .FriendsRequests
  .request-user-card
  .request-user-img-name-div
  div {
  display: flex;
  align-items: center;
  color: black;
}

.FriendsRequests-div
  .FriendsRequests
  .request-user-card
  .request-user-img-name-div
  div
  h4 {
  font-size: 1.2rem;
  margin: 0;
  margin-right: 2px;
}
.FriendsRequests-div
  .FriendsRequests
  .request-user-card
  .request-user-img-name-div
  div
  p {
  font-size: 1.2rem;
}
.FriendsRequests-div .FriendsRequests .request-user-img-name-div img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 10px;
}

.FriendsRequests-div .FriendsRequests .request-user-card .requests-btn img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  cursor: pointer;
}
