.HomePage {
  /* background-image: url("./assets/messaging.avif"); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* padding: 0 2%; */
  overflow: hidden;
  background-size: 100% 100%;
  margin: 0 auto;
}

.HomePage .section {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: flex-start;
  margin-left: 40px;
}

.HomePage .section .section-auth {
  width: 400px;
  margin-top: 300px;
}

.HomePage .section .signup-auth {
  margin-top: 220px;
}

.HomePage .section .img-sections {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.HomePage .section .img-sections img {
  width: 120px;
  height: 120px;
  position: absolute;
}

.HomePage .section .img-sections .msg-01 {
  top: 40%;
  right: 60%;
  opacity: 0;
}

.msg-02 {
  top: 1%;
  right: 10%;
}

.msg-03 {
  top: 60%;
  right: 80%;
}

.msg-04 {
  top: 12%;
  right: 34%;
}

.msg-05 {
  top: 80%;
  right: 44%;
}

.msg-06 {
  top: 48%;
  right: 20%;
}

.msg-07 {
  top: 10%;
  right: 80%;
}
/* @media screen and (max-width: 1500px) {
  .HomePage .section .img-sections .msg-01 {
    top: 40%;
    right: 60%;
  }
} */

@media screen and (max-width: 900px) {
  .HomePage .section .img-sections .msg-01 {
    top: 30%;
    right: 60%;
  }

  .HomePage .section .img-sections .msg-02 {
    top: 30%;
    right: 10%;
  }

  .HomePage .section .img-sections .msg-03 {
    top: 60%;
    right: 70%;
  }

  .HomePage .section .img-sections .msg-04 {
    top: 12%;
    right: 34%;
  }

  .HomePage .section .img-sections .msg-05 {
    top: 80%;
    right: 44%;
  }

  .HomePage .section .img-sections .msg-06 {
    top: 48%;
    right: 20%;
  }

  .HomePage .section .img-sections .msg-07 {
    top: 10%;
    right: 80%;
  }
}

.HomePage .forgot-password-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.HomePage .forgot-password-para {
  padding-right: 4px;
  color: #34636b;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

/*  ***************************  LOGIN SIGNUP FORM *********************** */
.HomePage .forms-div {
  width: 400px;
}
.HomePage .section-auth .error-request-p {
  margin: 0;
  height: 20px;
  color: rgb(167, 28, 28);
}

#googleLogin {
  width: 400px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.HomePage .forms-div form {
  display: flex;
  flex-direction: column;
}
.HomePage .forms-div form .error-p {
  margin-top: 8px;
  color: rgb(224, 64, 64);
  font-size: 0.9rem;
}

.HomePage .forms-div form .error-p p {
  margin: 0;
  color: rgb(224, 64, 64);
}

.HomePage .forms-div form .error-p ul {
  margin: 0;
}

.HomePage .forms-div form input {
  height: 40px;
  margin-top: 6px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.HomePage .forms-div form input[type="text"],
.HomePage .forms-div form input[type="password"],
.HomePage .forms-div form input[type="email"] {
  padding-left: 10px;
  background-color: rgb(223, 223, 223);
}

.HomePage .forms-div form input[type="submit"] {
  background-color: rgb(48, 60, 175);
  background-color: #5d9be4;
  background-color: #2c41c6;
  background-color: #34636b;
  color: white;
}

.HomePage .forms-div form .error-input {
  border: rgb(236, 55, 55) 1px solid;
}
.password-not-match {
  margin: 0;
}

.HomePage .forms-div p {
  color: black;
}

.HomePage .forms-div p button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #2c4144;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  padding-left: 0;
}

.HomePage .forms-div form .disabled-btn {
  background-color: rgb(168, 168, 168) !important;
  color: black !important;
  font-weight: bold !important;
}

@media screen and (max-width: 1500px) {
  .HomePage {
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .HomePage .section .img-sections img {
    width: 14%;
    height: 18%;
    position: absolute;
  }
}

@media screen and (max-width: 800px) {
  .HomePage .section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
  }

  .HomePage .loginForm {
    margin-top: 260px;
  }

  .HomePage .signupForm {
    margin-top: 160px;
  }

  .HomePage .section .img-sections {
    display: none;
  }

  .HomePage .section .section-auth {
    margin: 0;
    height: 50vh;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  /* .HomePage .welcome-div {
    width: 100%;
  } */

  .forgot-password-div .forgot-password-para {
    font-size: 0.8rem;
  }

  .HomePage .welcome-div h4 {
    font-size: 1rem;
  }
  .HomePage .section .section-auth {
    margin: 0;
    /* height: 80vh; */
    width: 100%;
  }

  .HomePage .forms-div {
    width: 96%;
    margin: 0 auto;
  }

  #googleLogin {
    width: 96%;
    margin: 0 auto;
  }

  .forms-div .have-account-para {
    font-size: 0.8rem;
    margin: 10px 0 0 0;
  }
  .HomePage .forms-div .have-account-para button {
    font-size: 0.8rem;
  }
}
