/* .Profile  .ImageProfile {
  width: 70%;
} */

.ImageProfile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageProfile input[type="file"] {
  visibility: hidden;
}

.ImageProfile .image-form {
  width: 200px;
}

.ImageProfile .image-form .img-edit-div {
  position: relative;
  width: 100%;
  height: 200px;
}

.ImageProfile .image-form .img-edit-div img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.ImageProfile .image-form .img-edit-div .edit-btn {
  position: absolute;
  bottom: 6px;
  width: 130px;
  font-weight: bold;
  left: 36px;
  background-color: transparent;
  border: none;
  border-top: black 1px solid;
  color: black;
  cursor: grab;
}

.Profile .ImageProfile .image-form .img-edit-div .edit-btn {
  width: 130px;
  left: 34px;
}

.ImageProfile .image-form .submit-cancel-btns {
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ImageProfile .image-form .submit-cancel-btns input,
.ImageProfile .image-form .submit-cancel-btns button {
  border: none;
  height: auto;
  width: 48%;
  /* background-color: rgb(157, 202, 184); */
  background-color: rgb(188, 212, 212);
  border-radius: 4px;
  font-size: 0.8rem;
  color: black;
  padding: 0;
  z-index: 2;
}
