.ProfileCard .profile-form {
  width: 36%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.ProfileCard .profile-form .first-last-name-div,
.ProfileCard .profile-form .username-status-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ProfileCard .profile-form .submit-edit-btn {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProfileCard .profile-form .submit-cancel-btn {
  width: 100%;
}
.ProfileCard .profile-form .submit-cancel-btn div {
  width: 49%;
}

.ProfileCard .profile-form .submit-cancel-btn div button,
.ProfileCard .profile-form .submit-cancel-btn div input {
  width: 100%;
}

.ProfileCard .profile-form .submit-edit-btn .btn-edit-profile {
  width: 40%;
}

.ProfileCard .profile-form .first-last-name-div input,
.ProfileCard .profile-form .username-status-div input {
  height: 44px;
  width: 100%;
  background-color: #fff2ee;
  font-size: 0.9rem;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 16px;
  border: 1px solid lightgray;
}

.ProfileCard .profile-form .input-div p {
  color: rgb(37, 56, 55);
}

.ProfileCard .profile-form .username-status-div .input-div,
.ProfileCard .profile-form .first-last-name-div .input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  width: 100%;
}

.ProfileCard .profile-form p {
  margin: 0;
}

.ProfileCard .profile-form .submit-cancel-btn {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 20px !important;
}

.ProfileCard .profile-form .submit-cancel-btn input,
.ProfileCard .profile-form .submit-cancel-btn button,
.ProfileCard .profile-form .submit-edit-btn button {
  border: none;
  outline: none;
  background-color: rgb(181, 209, 190);
  border-radius: 4px;
  width: 49%;
  height: 40px;
  box-shadow: 1px 1px 10px rgb(187, 187, 187);
}

@media screen and (max-width: 1600px) {
  .ProfileCard .profile-form {
    width: 70%;
  }
  .ProfileCard .profile-form .first-last-name-div,
  .ProfileCard .profile-form .username-status-div {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .ProfileCard .profile-form {
    width: 76%;
  }
  .ProfileCard .profile-form .first-last-name-div,
  .ProfileCard .profile-form .username-status-div {
    justify-content: center;
  }

  .ProfileCard .profile-form .submit-cancel-btn {
    width: 100%;
  }

  .ProfileCard .profile-form .username-status-div .input-div,
  .ProfileCard .profile-form .first-last-name-div .input-div,
  .ProfileCard .profile-form .submit-cancel-btn {
    margin-left: 4px !important;
  }

  .ProfileCard .profile-form .submit-cancel-btn input,
  .ProfileCard .profile-form .submit-cancel-btn button {
    width: 99%;
  }
  .ProfileCard .profile-form .submit-edit-btn .btn-edit-profile {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .ProfileCard .profile-form {
    width: 80%;
  }

  .ProfileCard .profile-form .first-last-name-div,
  .ProfileCard .profile-form .username-status-div {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .ProfileCard .profile-form .username-status-div .input-div,
  .ProfileCard .profile-form .first-last-name-div .input-div,
  .ProfileCard .profile-form .submit-cancel-btn,
  .ProfileCard .profile-form .submit-edit-btn .btn-edit-profile {
    margin: 0;
    width: 100%;
  }
  .ProfileCard .profile-form .input-div p {
    width: 100%;
  }

  .ProfileCard .profile-form .input-div input {
    width: 100%;
  }

  .ProfileCard .profile-form .submit-edit-btn {
    justify-content: space-around;
    width: 100%;
  }

  .error-para {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .ProfileCard .profile-form {
    width: 98%;
  }
  .ProfileCard .profile-form .username-status-div,
  .ProfileCard .profile-form .first-last-name-div {
    align-items: center;
  }

  .ProfileCard .profile-form .username-status-div .input-div,
  .ProfileCard .profile-form .first-last-name-div .input-div,
  .ProfileCard .profile-form .submit-cancel-btn {
    width: 96%;
    /* margin: 0; */
  }

  .ProfileCard .profile-form .submit-cancel-btn button,
  .ProfileCard .profile-form .submit-cancel-btn input {
    height: 34px;
  }

  .ProfileCard .profile-form .submit-edit-btn .btn-edit-profile {
    width: 96%;
  }
}
