.OTP {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  opacity: 0;
}

.OTP .OTP-section {
  height: 300px;
  width: 500px;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 1;
}

.OTP p {
  text-align: start;
  width: 84%;
  margin: 0;
}
.OTP .otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86%;
}

.OTP .otp-form div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  /* width: 90%; */
  margin-bottom: 20px;
}

.OTP .otp-form input[type="text"] {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1.6rem;
  text-align: center;
}

.OTP .otp-form input[type="submit"] {
  background-color: rgb(101, 129, 128);
  width: 180px;
  height: 40px;
  border-radius: 6px;
}

.OTP .otp-error {
  margin: 10px 0;
  color: rgb(216, 94, 94);
}

@media screen and (max-width: 800px) {
  .OTP .otp-form {
    width: 70%;
  }
  .OTP .otp-form input[type="text"] {
    width: 20%;
    height: 80%;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .OTP .OTP-section {
    width: 94%;
    height: 240px;
  }
  .OTP .otp-form {
    width: 90%;
  }

  .OTP .otp-form .otp_input_div {
    margin: 0;
  }
  .OTP .otp-form input[type="text"] {
    width: 22%;
    height: 60%;
    font-size: 1.6rem;
  }
}


