.ResetPassword-component {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
}


/* .ResetPassword-component .ResetPassword-div .loading-reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 24px;
} */

/* .ResetPassword-component .ResetPassword-div .resetpassword-form input,
.ResetPassword-component .ResetPassword-div .resetpassword-form a {
  height: 36px;
  margin-bottom: 6px;
  border-radius: 4px;
  width: 360px;
  box-sizing: border-box;
} */

/* .ResetPassword-component .ResetPassword-div .resetpassword-form a {
  background-color: rgb(109, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
} */

/* .ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="email"] {
  padding-left: 6px;
} */

/* .ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="submit"] {
  background-color: rgb(109, 155, 155);
} */

/* .ResetPassword-component .ResetPassword-div .resetpassword-form #disabled {
  background-color: rgb(158, 158, 158);
  color: black;
} */

.ResetPassword-component .ResetPassword-div .resetpassword-form .error-input {
  border: red 1px solid;
}

/* @media screen and (max-width: 800px) {
  .ResetPassword-component .ResetPassword-div {
    width: 92%;
    height: 320px;
    justify-content: center;
  }

  .ResetPassword-component .ResetPassword-div div {
    justify-content: center;
    height: auto;
  }

  .ResetPassword-component .ResetPassword-div .resetpassword-form {
    width: 90%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .ResetPassword-component .ResetPassword-div {
    padding: 10px;
    height: 300px;
    box-sizing: border-box;
  }

  .ResetPassword-component .ResetPassword-div div p {
    font-size: 1rem;
  }

  .ResetPassword-component .ResetPassword-div .resetpassword-form {
    width: 98%;
    height: 400px;
  }

  .ResetPassword-component .ResetPassword-div .resetpassword-form input,
.ResetPassword-component .ResetPassword-div .resetpassword-form a {
  width: 100%;
}
} */
