.ChangePasswordPrivacy {
  display: flex;
  flex-direction: column;
  width: 42%;
  height: 80%;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.ChangePasswordPrivacy input {
  margin-top: 6px;
  height: 40px;
  width: 100%;
  padding-left: 6px;
  outline: none;
  border: lightgray 1px solid;
  box-sizing: border-box;
  /* margin: 0 auto; */
  border: 1px solid lightgray;
  border-radius: 6px;
}
.ChangePasswordPrivacy input[type="submit"] {
  background-color: azure;
}

.ChangePasswordPrivacy img {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.ChangePasswordPrivacy .error-form-input {
  border: rgb(247, 67, 67) 1px solid;
}

.ChangePasswordPrivacy .error-new-password-para {
  color: red;
}

@media screen and (max-width: 1000px) {
  .ChangePasswordPrivacy {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .ChangePasswordPrivacy {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .ChangePasswordPrivacy {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  
  .ChangePasswordPrivacy {
    width: 90%;
  }
}
