.setting-container {
  width: 60rem;
  height: 96%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  /*border: .2rem solid black;*/
}
.list {
  position: absolute;
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: whitesmoke;
  padding-left: 10px;
  /* padding-top: 20px; */
}

.list img,
.list button {
  cursor: pointer;
  border: none;
}

.list01 .list01-btns-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list02 img {
  width: 30px;
  height: 30px;
  z-index: 20;
}

.list01 .list01-btns-div div {
  margin-top: 10px;
}

.list02-btns-div {
  margin-top: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.list03 {
  /* margin: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#back-arrow {
  opacity: 0;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .list03 {
    height: 76%;
  }
}


@media screen and (max-width: 1000px) {
  .setting-container {
    width: 50rem;
  }
  .list03 {
    height: 80%;
  }
}

@media screen and (max-width: 800px) {
  .setting-container {
    width: 100vw;
  }
}


@media screen and (max-width: 400px) {
  .list03 {
   padding-left: 0;
  }
}