.StickersImages {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.StickersImages img {
  position: inherit;
  width: 100px;
  height: 100px;
}
.msg-01 {
  top: 8%;
  right: 60%;
}

.msg-02 {
  top: 8%;
  right: 6%;
}

.msg-03 {
  top: 60%;
  right: 84%;
}

.msg-04 {
  top: 12%;
  right: 34%;
}

.msg-05 {
  top: 76%;
  right: 44%;
}

.msg-06 {
  top: 48%;
  right: 12%;
}

.msg-07 {
  top: 10%;
  right: 80%;
}


@media screen and (max-width: 450px) {
.msg-01 {
  top: 20%;
  right: 60%;
}

.msg-02 {
  top: 12%;
  right: 2%;
}

.msg-03 {
  top: 70%;
  right: 74%;
}

.msg-04 {
  top: 12%;
  right: 34%;
}

.msg-05 {
  top: 70%;
  right: 44%;
}

.msg-06 {
  top: 70%;
  right: 8%;
}

.msg-07 {
  top: 10%;
  right: 78%;
}

}