.Header {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  color: rgb(59, 100, 136);
  z-index: 1;
}

.Header h4 {
  font-size: 1.4rem;
  margin: 0 0 0 20px;
}

.Header img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 1200px) {
  .Header h4 {
    font-size: 1rem;
  }

  .Header img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  .Header h4 {
    font-size: 0.9rem;
    margin-left: 6px;
  }

  .Header img {
    width: 28px;
    height: 28px;
  }
}
