.navBar-component {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  height: 100vh;
  z-index: 3;
}

.NavBar {
  width: 24%;
  height: 83vh;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 20px;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 40px;
}

#menu-icon-img {
  display: none;
}

.menu-icon,
.slide-menu-on {
  display: none;
}

.NavBar .menu-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.NavBar .navbar-section-1 {
  display: flex;
  flex-direction: column;
}

.NavBar a img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.NavBar .navbar-section-2 {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.NavBar a {
  color: whitesmoke;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 4px;
}

.active {
  color: rgb(230, 49, 58) !important;
}

/* @media screen and (max-width: 1500px) {
  .NavBar {
    width: 20%;
  }
  .NavBar a {
    font-size: 1rem;
  }
} */

@media screen and (max-width: 1200px) {
  .NavBar {
    height: 85vh;
    padding: 60px 0 0 10px;
  }
  .NavBar a {
    font-size: 0.9rem;
  }
  .NavBar a img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 900px) {
  .NavBar {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .NavBar {
    padding: 40px 0 0 4px;
    width: 30%;
  }

  .NavBar a img {
    margin-right: 3px;
  }
}

@media screen and (max-width: 800px) {
  #menu-icon-img {
    display: block;
    position: absolute;
    top: 6px;
    right: 0px;
    width: 32px;
    height: 32px;
    z-index: 25;
  }

  .NavBar .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
  }


  .NavBar {
    position: absolute;
    background-color: whitesmoke;
    border: none;
    justify-content: flex-start;
    padding: 0;
    z-index: 20;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    border-left: 1px solid gray;
  }

  .slide-menu-on .back-icon-div {
    border-bottom: 1px solid black;
  }

  .NavBar .menu-icon-div {
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .NavBar .menu-div {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 0 0 10px;
  }
  .NavBar img {
    width: 38px;
    height: 38px;
    margin: 2px 0 0 4px;
  }

  .NavBar .menu-div div {
    display: flex;
    flex-direction: column;
  }

  .NavBar .menu-div a {
    margin-bottom: 10px;
    color: black;
    height: 36px;
    font-size: 0.8rem;
  }

  .NavBar .menu-div img,
  .NavBar .navbar-section-2 img {
    width: 24px;
    height: 24px;
  }
  .NavBar .navbar-section-2 {
    margin: 0;
  }
}
