.AddNewFriendForm-icon-div {
  font-size: 2.4rem;
  height: 100%;
  margin-right: 6px;
}

.AddNewFriendForm-icon-div P {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.addNewFriend-component .mid-section .add-new-friend-form-div {
  width: 100%;
  margin-left: 2px;
}

.addNewFriend-component .mid-section .add-new-friend-form-div .no-match {
  width: 100%;
}

.addNewFriend-component .AddNewFriendForm {
  display: flex;
  width: 99.5%;
  margin: 0 auto;
  justify-content: flex-start;
  /* margin: 10px 40px; */
  align-items: center;
  background-color: rgb(227, 239, 250);
  border-radius: 6px;
}

.addNewFriend-component .AddNewFriendForm input {
  height: 40px;
  width: 100%;
  background-color: rgb(227, 239, 250);
  font-size: 1.1rem;
  padding-left: 10px;
}

.addNewFriend-component .AddNewFriendForm img {
  width: 32px;
  padding-right: 10px;
}

.addNewFriend-component .find-friend-div {
  height: 94%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 6px 0 0 4px;
  /* justify-content: flex-start; */
}

.AddNewFriendForm #submit-search-user {
  display: none;
}

.addNewFriend-component .find-friend-div .no-match {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .addNewFriend-component .mid-section .add-new-friend-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addNewFriend-component .AddNewFriendForm {
    width: 100%;
  }

  .addNewFriend-component .find-friend-div {
    width: 100%;
    margin-top: 2px;
  }
}

@media screen and (max-width: 800px) {
  .addNewFriend-component .AddNewFriendForm input {
    height: 34px;
    font-size: 1rem;
  }
}
