.FriendsList {
  /* width: 99.6%; */
  width: 99.5%;
  height: 70vh;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.FriendsList .user-in-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px;
  border-bottom: 1px solid rgb(139, 139, 139);
  box-sizing: border-box;
  background-color: #fff2ee;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.img-info-div {
  display: flex;
  /* height: 80px; */
}

.FriendsList .user-in-list img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.FriendsList .user-in-list .username-bio-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.FriendsList .user-in-list .username-bio-div .username-para {
  display: flex;
  font-size: 1.2rem;
}

.FriendsList .user-in-list .username-bio-div .username-para p:last-child {
  margin-left: 8px;
}

.FriendsList .user-in-list .username-bio-div p {
  margin: 0;
  margin-left: 14px;
}

.FriendsList .user-in-list .username-bio-div .bio-para {
  font-size: 0.79rem;
}

.FriendsList .user-in-list .friend-btns {
  display: flex;
  align-items: center;
}

.FriendsList .user-in-list .friend-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  outline: none;
  color: black;
  padding: 6px;
  margin-left: 4px;
}

.FriendsList .user-in-list .friend-btns a img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1500px) {
  .FriendsList {
    width: 99.5%;
  }

  .FriendsList .user-in-list {
    width: 100%;
  }

  .FriendsList .user-in-list {
    width: 100%;
  }

  .FriendsList .user-in-list {
    padding: 6px 10px;
  }

  .FriendsList .user-in-list img {
    width: 60px;
    height: 60px;
  }

  .FriendsList .user-in-list .friend-btns a img {
    width: 30px;
    height: 30px;
  }
}

/* @media screen and (max-width: 1200px) {
  .FriendsList {
    width: 99%;
  }

  .FriendsList .user-in-list .friend-btns a img {
    width: 26px;
    height: 26px;
  }

  .FriendsList .user-in-list .friend-btns a {
    margin-left: 4px;
  }
} */

@media screen and (max-width: 800px) {
  .FriendsList .user-in-list {
    padding: 6px 4px;
  }
}

@media screen and (max-width: 500px) {
  .FriendsList .user-in-list {
    padding: 4px;
  }

  .FriendsList .user-in-list img {
    width: 52px;
    height: 52px;
  }

  .FriendsList .user-in-list .friend-btns a img {
    width: 24px;
    height: 24px;
  }

  .FriendsList .user-in-list .username-bio-div .username-para {
    font-size: 1rem;
  }

  .FriendsList .user-in-list .username-bio-div .bio-para {
    font-size: 0.7rem;
  }
}
