.friends-forms-friendslist-div {
  display: flex;
  width: 99.5%;
  flex-direction: column;
}

.friend-component-div .friends-forms-friendslist-div .friend-request-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blanchedalmond;
  width: 99.5%;
  height: 60px;
  margin: 2px auto;
  padding: 0 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.friend-component-div .friends-forms-friendslist-div .friend-request-div p {
  color: black;
}

.friend-component-div .friends-forms-friendslist-div .friend-request-div img {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 500px) {
  .friends-forms-friendslist-div {
    width: 99.8%;
    margin: 0 auto;
  }
}
