.FriendCard-no-match {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FriendCard {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  padding: 10px 20px 20px 30px;
  box-sizing: border-box;
  border-radius: 4px;
}

.FriendCard .btns-request {
  display: flex;
  align-items: center;
  width: 180px;
}
.FriendCard .btns-request img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.FriendCard .btns-request button {
  border: none;
  background-color: transparent;
  height: 30px;
  margin: 0;
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(18, 59, 70);
}

.FriendCard .sendmsg a {
  color: rgb(17, 45, 61);
}

.FriendCard .user-info-img-div #username-para {
  margin: 0;
  font-size: 0.9rem;
}

.FriendCard .user-info-img-div {
  display: flex;
  align-items: center;
  height: 200px;
  font-size: 1.1rem;
}

.FriendCard .user-info-img-div .img-username-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.FriendCard .user-info-img-div .img-username-div img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin-bottom: 6px;
}

.FriendCard .user-info-img-div .user-info-div {
  display: flex;
  flex-direction: column;
}

.FriendCard .user-info-img-div .user-info-div #para-bio {
  font-size: 0.8rem;
  margin: 14px 0 0 0;
}

.FriendCard .user-info-img-div .user-info-div div p {
  display: inline;
  font-size: 1.2rem;
}

.FriendCard .user-info-img-div .user-info-div p:last-child {
  margin-left: 6px;
}

@media screen and (max-width: 800px) {
  .FriendCard {
    padding: 10px;
  }
  .FriendCard .user-info-img-div {
    height: 180px;
  }
  .FriendCard {
    width: 100%;
  }

  .FriendCard .user-info-img-div .img-username-div img {
    width: 100px;
    height: 100px;
  }

  .FriendCard .user-info-img-div .user-info-div #para-bio {
    margin-top: 6px;
  }

  .FriendCard .sendmsg a {
    font-size: 0.9rem;
  }
  .FriendCard .sendmsg img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .user-info-img-div {
    margin-left: 30px;
  }
}
