#Footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  height: 10vh;
}

#Footer p {
  font-size: 0.9rem;
  color: whitesmoke;
  text-align: center;
}
