body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: whitesmoke;
  font-family: "Cabin", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}
.logo-img {
  width: 60px;
  height: 60px;
}
